@model IEnumerable<POS.ViewModel.MstOutletViewModel>

<table class="table table-bordered table-striped">

    @foreach (var item in Model)
    {
        <tr>
            <td width="80%">
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td width="20%" align="center">
                <input type="checkbox" id="cek-outlet-@Html.DisplayFor(modelItem => item.id)"
                       value="@Html.DisplayFor(modelItem => item.id)"
                       class="cek-outlet"
                       data-id="@item.id"
                       data-name="@item.name" />
            </td>
        </tr>
        <script>
            $(document).ready(function () {
                var idx = @Html.DisplayFor(modelItem => item.id);
                var vl = $("#RD-"+idx).val();
                if(vl==""){
                    //alert(idx);
                    document.getElementById('cek-outlet-'+idx).checked = true;
                }
            });
        </script>
    }

</table>


